body {
    font-family: 'Source Sans Pro', sans-serif;
}

#display {
    margin: 0px auto auto;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 25px;
}

.foodBox {
    width: 600px;
    margin: 10px auto;
    padding: 20px;
}

.cartFontDiv {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    
}

#orderDone {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

#cartMainDiv {
    display: grid;
    padding: 20px;
    max-width: 1400px;
    margin: 40px auto;
    gap: 50px;
    grid-template-columns: 66% 30%;
}

#display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#foodDiv {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#imgDiv {
    overflow: hidden;
}

#imgDiv>img {
    width: 100%;
    transition: all 1s ease-in-out;
}

#imgDiv>img:hover {
    transform: scale(1.2);
}

#detailsDiv {
    padding: 20px;
    min-height: 140px;
}

#detailsDiv p {
    margin: 0px;
}

#cartDetailsDiv {
    padding: 10px 20px;
    min-height: 30px;
}

#cartDetailsDiv p {
    margin: 0px;
}

#btnDiv {
    padding: 0px 20px 20px;
}

#btnDiv>button {
    width: 100%;
}

#couponDiv {
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    #cartMainDiv {
        grid-template-columns: 60% 34%;
    }

    #display {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #cartMainDiv {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 480px) {
    #display {
        grid-template-columns: repeat(1, 1fr);
    }
}