body {
    font-family: 'Source Sans Pro', sans-serif;
}

#display {
    max-width: 1300px;
    margin: 50px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#foodDiv {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#imgDiv {
    overflow: hidden;
}

#imgDiv>img {
    width: 100%;
    transition: all 1s ease-in-out;
}

#imgDiv>img:hover{
    transform: scale(1.2);
}

#detailsDiv{
    padding: 20px;
    min-height: 140px;
}

#detailsDiv p{
    margin: 0px;
}


@media screen and (max-width: 1024px) {
    #display {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #display {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    #display {
        grid-template-columns: repeat(1, 1fr);
    }
}