body {
    font-family: 'Source Sans Pro', sans-serif;
}

#foodBox {
    padding: 10px;
    max-width: 600px;
    margin: 40px auto;
    color: gray; 
   
}

#foodBox>p{
    font-weight: 300;
}

#searchImage {
    max-width: 400px;
    margin: 20px auto;
}

#searchImage>img{
    width: 100%;
}