body {
    padding: 0px;
    margin: 0px;
}

#display {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 25px;
}

#boxSize {
    max-width: 600px;
    margin: auto;
}

.foodBox {
    width: 600px;
    margin: 10px auto;
    padding: 20px;

}

#orderDone {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}